---
import Landing from '@/layouts/Landing.astro';
---

<Landing title='main page' classes="index-page">
  <h1>Flagstone</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
</Landing>