
<div class="header__contacts contacts">
  <a href="tel:88462000807">8 846 200 0804</a>,
  <a href="tel:+79272048887">+7 927 204 8887</a>
  <span>Бесплатный звонок для регионов</span>
  <p>
    <!-- <a href="https://viber.click/79272048887"><img src="/public/img/icons/viber.svg" alt=""></a>
    <a href="https://wa.me/+79272048887"><img src="/public/img/icons/whatsapp.svg" alt=""></a> -->
    <a href="tel:88003021135"><strong>8 800 302 1135</strong></a>
  </p>
</div>