<nav class="header__nav nav js-header-nav">
  <button type="button" class="nav__close-button js-close-button">
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_143_429)">
      <path d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z" fill="#ffffff"/>
      </g>
      <defs>
      <clipPath id="clip0_143_429">
      <rect width="14" height="14" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </button>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>О компании</span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_58_168)">
          <path d="M6.0001 7.06002L0.600098 1.66002L1.8601 0.400024L6.0001 4.54002L10.1401 0.400024L11.4001 1.66002L6.0001 7.06002Z" fill="#8A8E9A"/>
          </g>
          <defs>
          <clipPath id="clip0_58_168">
          <rect width="12" height="7.2" fill="white" transform="translate(0 0.400024)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      <ul class="nav__submenu">
        <li class="nav__item"><a class="nav__link" href="">Наши преимущества</a></li>
        <li class="nav__item"><a class="nav__link" href="">Наши сотрудники</a></li>
        <li class="nav__item"><a class="nav__link" href="">ТВ проекты</a></li>
        <li class="nav__item"><a class="nav__link" href="">Сертификаты</a></li>
        <li class="nav__item"><a class="nav__link" href="">Отзывы</a></li>
        <li class="nav__item"><a class="nav__link" href="">История компании</a></li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Услуги</span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_58_168)">
          <path d="M6.0001 7.06002L0.600098 1.66002L1.8601 0.400024L6.0001 4.54002L10.1401 0.400024L11.4001 1.66002L6.0001 7.06002Z" fill="#8A8E9A"/>
          </g>
          <defs>
          <clipPath id="clip0_58_168">
          <rect width="12" height="7.2" fill="white" transform="translate(0 0.400024)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      <ul class="nav__submenu">
        <li class="nav__item"><a class="nav__link" href="">Укладка тротуарной плитки</a></li>
        <li class="nav__item"><a class="nav__link" href="">Доставка</a></li>
      </ul>
    </li>
    <li class="nav__item"><a class="nav__link" href="">Портфолио</a></li>
    <li class="nav__item">
      <a class="nav__link" href="">
        <span>Цены</span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_58_168)">
          <path d="M6.0001 7.06002L0.600098 1.66002L1.8601 0.400024L6.0001 4.54002L10.1401 0.400024L11.4001 1.66002L6.0001 7.06002Z" fill="#8A8E9A"/>
          </g>
          <defs>
          <clipPath id="clip0_58_168">
          <rect width="12" height="7.2" fill="white" transform="translate(0 0.400024)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      <ul class="nav__submenu">
        <li class="nav__item"><a class="nav__link" href="">Прайс-листы</a></li>
        <li class="nav__item"><a class="nav__link" href="">Акции и спец. предложения</a></li>
      </ul>
    </li>
    <li class="nav__item"><a class="nav__link" href="">Вопрос-ответ</a></li>
    <li class="nav__item"><a class="nav__link" href="">Контакты</a></li>
  </ul>
</nav>