---
import Head from '@/components/head/Head.astro';
import Header from '@/components/header/Header.astro';
import Footer from '@/components/footer/Footer.astro';
import ProductsNav from '@/components/productsNav/ProductsNav.astro';
import RatingsBlock from '@/components/ratingsBlock/ratingsBlock.astro';
import MobileFixedPanel from '@/components/mobileFixedPanel/MobileFixedPanel.astro';
import CookieBlock from '@/components/cookieBlock/cookieBlock.astro';
import '@/components/styles.scss';
const { title, classes } = Astro.props;
---

<!doctype html>
<html lang="ru" class="page">
  <Head title={title} />
  <body class=`page__body ${classes ? classes : ''}`>
    <Header />
    <ProductsNav />
    <slot />
    <RatingsBlock />
    <Footer />
    <MobileFixedPanel />
    <CookieBlock />
  </body>
</html>